<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title></title>
  <style>
    input[type="number"] {width: 65px;}
  </style>
  </head>
  <body>
    <div class="container">
      <h1>Your Cart:</h1>
      <% session[:cart].each do |hash| %>
      <div class="row">
        <p>Shirt: <%= hash[:item] %></p>
        <p>Quantity: <%= hash[:quantity] %></p>
        <p>price: <%= hash[:price].to_i * hash[:quantity].to_i %></p>
        <form action="/deleteCartItem/<%= session[:cart].index(hash) %>" method="get">
          <button>delete</button>
        </form>
      </div>
      <% end %>
      <form action="/purchase" method="post">
        <button>Confirm Purchase</button>
      </form>



    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
