
<p>You Bought:</p>
<% session[:cart].each do |hash| %>
<div class="row">
  <p>Shirt: <%= hash[:item] %></p>
  <p>Quantity: <%= hash[:quantity] %></p>
  <p>price: <%= hash[:price].to_i * hash[:quantity].to_i %></p>
</div>
<% end %>
